main{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    width: 98%;
    margin: auto;
}

main article{    
    color: black;
    background-color: #eee;
    box-shadow: 0 0.3rem 0.2rem rgba(255,255,255,0.4), 0.2rem 0 0 rgba(255,255,255,255,.3);
    border-radius: .5rem;    
}
.titel{
    text-align: center;
}
.titel {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #666;
}
.titel a h2{    
    font-size: 1.5rem;
}
.titel a:hover .txt {
    display: block;
}
.txt{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: .3rem;
    display:none;
}
