main{   
    position: relative;
    margin-top: 150px;
    width: 97%;
    margin: 0.8rem auto 0.5rem auto;
    color: #2c3e50;
}

/*Vorwort Style*/
.vorwort{
    padding: 0 0.3rem 0.3rem 0.3rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    
}
.vorwortTitel{
    background-color: #c79af1;
    color: #000044;
    font-size: 1.6rem;
    padding: 0.5rem;
    margin-bottom: .6rem;
    display:block;
    border-radius: 0.3rem;    
}
.vorwort div.table{
  display: table;
}
.vorwort div.tr{
  display: table-row;
}
.vorwort div.td{
  display: table-cell;
  padding: 0.5rem;
}
.vorwort a img{
    height: 3rem;
}


/* Acordeon styles */
.tab {
    position: relative;
    margin-bottom: 0.5rem;
    width: 100%;
    color: #f1a80b;
    font-size: 1.4rem;
    overflow: hidden;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #3d0570;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #e0caec;
    color: #000044;    
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;    
  }
  .tab-content p {
    margin: 1em;   
    text-align: justify;
    line-height: 1.8rem;
  }
  .tab-content a.home {
      display:block;
      text-align: center;
      margin: 0 .5rem 0.5rem .5rem;
      font-size: 1.6rem;      
      border: solid 1px rgba(0, 0, 68, 0.4);
      padding: 0.3rem 0 0.3rem 0;
      font-weight: bold;
	    color: rgb(74, 7, 129);
	    background-color: rgb(231, 221, 240);
  }
  .tab-content a.home:before{    
    content: "\25b2";
    margin-right: 0.3rem;
  }
  .tab-content a.home:after{
    content: "\25b2";
    margin-left: 0.3rem
  }
  /* :checked */
  input:checked ~ .tab-content {
    max-height: 100rem;
  }
  /* Icon */
  label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
 input[type=radio] ~ label::after {
    content: "\25BC";
  }
  input[type=radio]:checked ~ label::after {
    transform: rotateX(180deg);
  }