/***************************************************************
/
/ Style für den Kopfbereich der Seite. Grundstil für eine Ansicht 
/ von 320px
/ 
/ Erstellt: 31. Jan 2018 Schmid Lothar
/**************************************************************/
header{
    /*border: 2px solid yellow; Test*/
    background-color: #000044;
    border-bottom-right-radius: 4rem;
    box-shadow: 0.3rem 0.3rem 1rem 0 rgb(192, 165, 46);
    margin: 0.6rem 0.6rem;
}
header div{   
    padding: 0.4rem;
    text-align: center;   
    line-height: 3rem;
}
header div img{  
    float: left;
    width: 6rem;
    height: 100%; 
}
header div h1{    
    font-size: 2rem;
}
