/***********************************************************************************
/ Grundeinstellungen meiner Seite
/
/ Erstellt: 31.1.2018 Author: Schmid Lothar
/***********************************************************************************/

* {
	box-sizing: border-box;
}

html, body {
	background-color: #eee;
	color: #444;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 10px;
}

h1, h2, h3, h4 {
	color: rgb(245, 170, 8);
	font-family: sans-serif;
}

h3 {
	font-size: 1.6rem;
}

a {
	text-decoration: underline;
	font-weight: bold;
	color: rgb(47, 3, 85);
}
/*Bibel Zitate Style*/
.bib .abib {	
	display: inline;
	font-style: italic;
}

.abib {
	display: inline;
	padding: 0;
}