
/***********************************************************************************
/ Grundeinstellunen meiner Seite
/
/ Erstellt: 31.1.2018 Author: Schmid Lothar
/***********************************************************************************/

*{
	box-sizing: border-box;
}
html, body{	
	background-color: #eee;
	color: #444;
	font-size:10px;
}
h1, h2, h3, h4{	
	color: rgb(245, 170, 8);
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}